In [1]:
import pandas, sys
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

datafile_16 = "Resources/FY_2016_Dallas_Animal_Shelter_Data.csv"
datafile_17 = "Resources/FY_2017_Dallas_Animal_Shelter_Data.csv"
datafile_18 = "Resources/FY_2018_Dallas_Animal_Shelter_Data.csv"
datafile_19 = "Resources/FY_2019_Dallas_Animal_Shelter_Data.csv"
datafile_20 = "Resources/FY2020_Dallas_Animal_Shelter_Data.csv"
datafile_21 = "Resources/FY2021_Dallas_Animal_Shelter_Data.csv"

df_2016 = pd.read_csv(datafile_16)
df_2017 = pd.read_csv(datafile_17)
df_2018 = pd.read_csv(datafile_18)
df_2019 = pd.read_csv(datafile_19)
df_2020 = pd.read_csv(datafile_20)
df_2021 = pd.read_csv(datafile_21)

In [2]:
frames = [df_2016, df_2017, df_2018, df_2019, df_2020, df_2021]
dallas_shelter_df = pd.concat(frames)

In [3]:
dallas_shelter_df

,Animal Id,Animal Type,Animal Breed,Kennel Number,Kennel Status,Tag Type,Activity Number,Activity Sequence,Source Id,Census Tract,...,Chip Status,Animal Origin,Additional Information,Month,Year,Unnamed: 33,Unnamed: 16,Unnamed: 20,Unnamed: 22,Unnamed: 27
0,A0000000,NaN,NaN,FREEZER,UNAVAILABLE,NaN,A16-017406,1,P0000000,701,...,UNABLE TO SCAN,FIELD,NaN,JUN.2016,FY2016,NaN,NaN,NaN,NaN,NaN
1,A0001656,DOG,LABRADOR RETR,LAB 01,LAB,NaN,NaN,1,P0003571,20500,...,SCAN CHIP,OVER THE COUNTER,NaN,JUL.2016,FY2016,NaN,NaN,NaN,NaN,NaN
2,A0014681,DOG,PIT BULL,PAWS 24,UNAVAILABLE,NaN,NaN,1,P0721470,12302,...,SCAN NO CHIP,FIELD,TAGGHOUSEBROKEN/FREE ADOPT,FEB.2016,FY2016,NaN,NaN,NaN,NaN,NaN
3,A0117773,DOG,PIT BULL,LAB 01,LAB,NaN,NaN,1,P0062546,2200,...,SCAN NO CHIP,OVER THE COUNTER,NaN,JUL.2016,FY2016,NaN,NaN,NaN,NaN,NaN
4,A0119934,CAT,RUSSIAN BLUE,LOST,LOST REPORT,NaN,NaN,1,P0038200,75214,...,UNABLE TO SCAN,OVER THE COUNTER,NaN,JUL.2016,FY2016,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11017,A0701527,DOG,SCHNAUZER STAND,LFSD 03,IMPOUNDED,NaN,A21-259221,1,P0954698,12206,...,SCAN CHIP,FIELD,ITR,APR.2021,FY2021,NaN,NaN,ADOPTION,NaN,NaN
11018,A1118116,CAT,DOMESTIC SH,N04,UNAVAILABLE,NaN,NaN,1,P0954696,7823,...,SCAN NO CHIP,OVER THE COUNTER,AEG,APR.2021,FY2021,NaN,NaN,NEONATE,NaN,NaN
11019,A1116166,DOG,GERM SHEPHERD,LOST,IMPOUNDED,NaN,NaN,0,P0951768,NaN,...,NaN,NaN,NaN,MAR.2021,FY2021,NaN,NaN,NaN,NaN,NaN
11020,A1117299,DOG,PIT BULL,AD 003,AVAILABLE,NaN,NaN,1,P0900636,3901,...,SCAN NO CHIP,OVER THE COUNTER,JAS,APR.2021,FY2021,NaN,NaN,ADOP RESCU,NaN,NaN
11021,A1118126,CAT,DOMESTIC SH,INCU 03,IMPOUNDED,NaN,NaN,1,P0703220,6501,...,SCAN NO CHIP,OVER THE COUNTER,AEG,APR.2021,FY2021,NaN,NaN,NEONATE,NaN,NaN

In [4]:
dup_animals = dallas_shelter_df.loc[dallas_shelter_df.duplicated(subset = ['Animal Id', 'Month']), 'Animal Id'].unique()
dup_animal_id = pd.DataFrame(dup_animals)
dup_animal_id

             0
0     A0469113
1     A0489693
2     A0578637
3     A0660996
4     A0696700
...        ...
6899  A1117310
6900  A1118114
6901  A1117945
6902  A1116461
6903  A1118126

[6904 rows x 1 columns]

In [5]:
dallas_shelter_clean = dallas_shelter_df[dallas_shelter_df['Animal Id'].isin(dup_animals)==False]
dallas_shelter_clean

,Animal Id,Animal Type,Animal Breed,Kennel Number,Kennel Status,Tag Type,Activity Number,Activity Sequence,Source Id,Census Tract,...,Chip Status,Animal Origin,Additional Information,Month,Year,Unnamed: 33,Unnamed: 16,Unnamed: 20,Unnamed: 22,Unnamed: 27
0,A0000000,NaN,NaN,FREEZER,UNAVAILABLE,NaN,A16-017406,1,P0000000,701,...,UNABLE TO SCAN,FIELD,NaN,JUN.2016,FY2016,NaN,NaN,NaN,NaN,NaN
1,A0001656,DOG,LABRADOR RETR,LAB 01,LAB,NaN,NaN,1,P0003571,20500,...,SCAN CHIP,OVER THE COUNTER,NaN,JUL.2016,FY2016,NaN,NaN,NaN,NaN,NaN
2,A0014681,DOG,PIT BULL,PAWS 24,UNAVAILABLE,NaN,NaN,1,P0721470,12302,...,SCAN NO CHIP,FIELD,TAGGHOUSEBROKEN/FREE ADOPT,FEB.2016,FY2016,NaN,NaN,NaN,NaN,NaN
3,A0117773,DOG,PIT BULL,LAB 01,LAB,NaN,NaN,1,P0062546,2200,...,SCAN NO CHIP,OVER THE COUNTER,NaN,JUL.2016,FY2016,NaN,NaN,NaN,NaN,NaN
4,A0119934,CAT,RUSSIAN BLUE,LOST,LOST REPORT,NaN,NaN,1,P0038200,75214,...,UNABLE TO SCAN,OVER THE COUNTER,NaN,JUL.2016,FY2016,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11014,A1100474,DOG,CHIHUAHUA SH,LFSD 18,UNAVAILABLE,NaN,A21-259249,1,P0954725,2000,...,SCAN CHIP,FIELD,AEG,APR.2021,FY2021,NaN,NaN,NaN,NaN,NaN
11017,A0701527,DOG,SCHNAUZER STAND,LFSD 03,IMPOUNDED,NaN,A21-259221,1,P0954698,12206,...,SCAN CHIP,FIELD,ITR,APR.2021,FY2021,NaN,NaN,ADOPTION,NaN,NaN
11018,A1118116,CAT,DOMESTIC SH,N04,UNAVAILABLE,NaN,NaN,1,P0954696,7823,...,SCAN NO CHIP,OVER THE COUNTER,AEG,APR.2021,FY2021,NaN,NaN,NEONATE,NaN,NaN
11019,A1116166,DOG,GERM SHEPHERD,LOST,IMPOUNDED,NaN,NaN,0,P0951768,NaN,...,NaN,NaN,NaN,MAR.2021,FY2021,NaN,NaN,NaN,NaN,NaN
11020,A1117299,DOG,PIT BULL,AD 003,AVAILABLE,NaN,NaN,1,P0900636,3901,...,SCAN NO CHIP,OVER THE COUNTER,JAS,APR.2021,FY2021,NaN,NaN,ADOP RESCU,NaN,NaN

In [18]:
dallas_shelter_data_pre = dallas_shelter_clean.dropna(how='all', subset=['Animal Breed'])
dallas_shelter_data = dallas_shelter_data_pre.drop(columns=['Tag Type', 'Activity Number', 'Service Request Number','Unnamed: 33', 'Unnamed: 16','Unnamed: 20','Unnamed: 22','Unnamed: 27'])
dallas_shelter_data

,Animal Id,Animal Type,Animal Breed,Kennel Number,Kennel Status,Activity Sequence,Source Id,Census Tract,Council District,Intake Type,...,Outcome Date,Outcome Time,Receipt Number,Impound Number,Outcome Condition,Chip Status,Animal Origin,Additional Information,Month,Year
1,A0001656,DOG,LABRADOR RETR,LAB 01,LAB,1,P0003571,20500,6,OWNER SURRENDER,...,42572,12/31/1899 01:22:00 PM,NaN,K16-353536,TREATABLE REHABILITABLE NON-CONTAGIOUS,SCAN CHIP,OVER THE COUNTER,NaN,JUL.2016,FY2016
2,A0014681,DOG,PIT BULL,PAWS 24,UNAVAILABLE,1,P0721470,12302,7,OWNER SURRENDER,...,42460,12/31/1899 06:25:00 PM,R16-445969,K16-338470,TREATABLE MANAGEABLE NON-CONTAGIOUS,SCAN NO CHIP,FIELD,TAGGHOUSEBROKEN/FREE ADOPT,FEB.2016,FY2016
3,A0117773,DOG,PIT BULL,LAB 01,LAB,1,P0062546,2200,2,OWNER SURRENDER,...,42556,12/31/1899 07:26:00 PM,NaN,K16-351923,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,SCAN NO CHIP,OVER THE COUNTER,NaN,JUL.2016,FY2016
4,A0119934,CAT,RUSSIAN BLUE,LOST,LOST REPORT,1,P0038200,75214,14,LOST REPORT,...,42570,12/31/1899 10:51:00 AM,NaN,K16-345201,HEALTHY,UNABLE TO SCAN,OVER THE COUNTER,NaN,JUL.2016,FY2016
5,A0132276,CAT,DOMESTIC SH,QC 03,RELEASED FROM QUARANTINE,3,P0084487,13007,10,CONFISCATED,...,42640,12/31/1899 03:05:00 PM,R16-471779,K16-359916,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,UNABLE TO SCAN,FIELD,NaN,SEP.2016,FY2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11014,A1100474,DOG,CHIHUAHUA SH,LFSD 18,UNAVAILABLE,1,P0954725,2000,1,OWNER SURRENDER,...,4/16/2021,2:35:00 PM,NaN,K21-524674,APP WNL,SCAN CHIP,FIELD,AEG,APR.2021,FY2021
11017,A0701527,DOG,SCHNAUZER STAND,LFSD 03,IMPOUNDED,1,P0954698,12206,7,STRAY,...,4/16/2021,3:39:00 PM,R21-575834,K21-524654,APP WNL,SCAN CHIP,FIELD,ITR,APR.2021,FY2021
11018,A1118116,CAT,DOMESTIC SH,N04,UNAVAILABLE,1,P0954696,7823,13,STRAY,...,4/16/2021,3:04:00 PM,NaN,K21-524648,UNDERAGE,SCAN NO CHIP,OVER THE COUNTER,AEG,APR.2021,FY2021
11019,A1116166,DOG,GERM SHEPHERD,LOST,IMPOUNDED,0,P0951768,NaN,NaN,STRAY,...,4/16/2021,12:00:00 AM,NaN,K21-522659,NaN,NaN,NaN,NaN,MAR.2021,FY2021
11020,A1117299,DOG,PIT BULL,AD 003,AVAILABLE,1,P0900636,3901,7,KEEPSAFE,...,4/16/2021,3:30:00 PM,R21-575837,K21-523822,APP WNL,SCAN NO CHIP,OVER THE COUNTER,JAS,APR.2021,FY2021

In [19]:
breeds = dallas_shelter_data["Animal Breed"].value_counts()
num_breeds = len(breeds)
num_breeds

371

In [20]:
animal_types = dallas_shelter_data["Animal Type"].value_counts()
num_animal_types = len(animal_types)
num_animal_types

6